*{
   margin:0 ;
   padding:0;
   box-sizing:border-box;
   font-family: sans-serif;
}
body{
    display:flex;
    justify-content:center ;
    align-items:center;
    min-height: 100vh;
    background-color: white;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color:rgb(244, 237, 229) ;
    margin: 50px;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.top{
    position: relative;
    width:100%;
    height: 400px;
    background-color:rgb(210, 213, 250);
    padding:50px ;
}
h2{
   font-size: 3em;
   column:white;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   line-height:0.7em;

}
 h2 span {
    font-size: 0.4em;
    font-weight: bold;



}
.group {
 position:absolute;
 display: grid;
 gap: 40px;
 /* width: 100%; */
  grid-template-columns:2fr 7fr ;
}
.group .imgbx img{
    position: relative;
    width: 100%;
    border-radius:50%;
    object-fit: cover;
    background-size: cover
}
.group p{
    color:rgb(160, 142, 142);
    font-size: 1.05em;
}
.bottom{
  position: relative;
  display: grid;
  margin: 50px 50px 0;
  gap: 40px;
  grid-template-columns: 2fr 3fr;
}
.bottom.left_side{
    margin: 50px;
    
}
h4{
   font-size: 1.1em;
   text-transform: uppercase;
   letter-spacing: 0.25em;
   color:white;
   background-color: rgb(86, 86, 196);
   font-weight: 600;
   padding: 0 15px;
   margin-top: 0px;
   display: inline-flex;

}
.ContactInfo{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;

}

.ContactInfo li{
    list-style: none;
    display: flex;
    gap: 10px;

}
.ContactInfo li .icon{

color:  rgb(86, 86, 196);
;
}
.ContactInfo li  .text{
    color:rgb(46, 44, 44);
}
.imgbx img{
    height: 250px;
    width: 350px;
    overflow: hidden;
    /* margin: -10px 30px 30px 0px; */
}
.skills{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin:20px 0;

}
.skills .skillsBox{
    position: relative;
    align-items: center;
    display: grid;
    grid-template-columns:2fr 3fr ;
}
.skills .skillsBox p{
    color: rgb(46, 43, 43);
}

.skills .skillsBox .value{
    position: relative;
    width: 100%;
    height: 10px;
    background:rgb(128, 123, 123);
}
.skills .skillsBox .value::before{
    content: '';
    position: absolute;
    width: var(--i);
height: 100%;
background-color: rgb(86, 86, 196);
}
.adjustMargin{
    margin-top: -10px;

}
.edu_group{
    position:relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;

}
.edu_groupBx{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;

}
.edu_groupBx p:nth-child(1){
    font-weight: 500;
}
.edu_groupBx b{
    font-weight: 600;
    color: rgb(86, 86, 196);
}
.edu_groupBx b span{
    position: relative;
    font-size: 0.8em;
    color: grey;
    top: -2px;


}
.hobbies{
    padding: 0 0px 45px;

}
.hobbies ul{

    display: flex;
    margin-top:30px ;
    gap: 20px;
    justify-content:space-between;

}
.imgbx{
    width:250px;
}
.hobbies ul li{
    list-style: none;
    color:black;
    /* width: calc(100% /6); */
    padding: 10px  0;
    display: flex ;
    flex-direction:column;
    gap: 5px;
    background:rgb(244, 239, 239);
    text-align: center;
    cursor: pointer;

}
.hobbies ul li:hover{
    background: rgb(86, 86, 196);
    color:rgb(238, 231, 231);
}
.hobbies ul li i{
    font-size: 2em;

}
.Oskills{   
   
}
.Otherskills{
    margin-top: -10px;
    position: relative;
    gap: 20px;

}
